---
import "../styles/global.css";
---

<div
    class="flex h-[10%] w-full flex-col items-center gap-2 bg-[#19332d] px-[15%] py-4 text-white md:flex-row md:justify-center md:gap-16"
>
    <span> Copyright © 2026 GrimTango </span>
    <a href="mailto:ceolansjourney@gmail.com"> Contact </a>
</div>

<style>
    a {
        border-bottom: 0 transparent solid;
        transition-duration: 250ms;
    }
    a:hover {
        transition-duration: 250ms;
        border-bottom: 1px white solid;
        border-width: 50%;
    }
</style>
